<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{cat.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

@if (cat) {
<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
      <ion-col class="static-image">
        <img
        [src]="cat.image.url"
        [alt]="cat.name">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-padding">
      <p>
        <strong>Description:</strong>
        {{cat.description}}
      </p>
      <p>
        <strong>life span:</strong>
        {{cat.life_span}} years
      </p>
       <p>
        <strong>Origin:</strong>
        {{cat.origin}}
      </p>
       <p>
        <strong>Temperament:</strong>
        {{cat.temperament}}
      </p>
       <p>
        <strong>Adaptability:</strong>
        {{cat.adaptability}}
      </p>
       <p>
        <strong>Affection level:</strong>
        {{cat.affection_level}}
      </p>
       <p>
        <strong>Intelligence:</strong>
        {{cat.intelligence}}
      </p>
      <p>
        <strong>Vocalisation:</strong>
        {{cat.vocalisation}}
      </p>
      <p>
        <strong>Social needs:</strong>
        {{cat.social_needs}}
      </p>
      <p>
        <strong>Dog friendly</strong>
        {{cat.dog_friendly}}
      </p>
      <p>
        <strong>Dog friendly</strong>
        {{cat.dog_friendly}}
      </p>
      <p>
        <strong>Health issues</strong>
        {{cat.health_issues}}
      </p>
    </div>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
}
