<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Catbreeds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Catbreeds
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="onSearch(searchBar.value!)" #searchBar></ion-searchbar>
  </ion-toolbar>

   <ion-list>
    @for (cat of cats; track cat) {
      <app-message [cat]="cat"></app-message>
    }
  </ion-list>
</ion-content>
